html {
  margin: 1.5rem;
}

div {
  /* height: 100px;
  background-color: black; */
}

/* EX1 ------------------------------------------- */
.exercise-1 {
}

/* EX2 -------------------------------------------- */
.exercise-2 header {
  background-color: red;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 35px;
}

.exercise-2 .body {
  background-color: green;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 25px;
}

.exercise-2 .selectable {
  width: fit-content;
  background-color: yellow;
  font-size: 15px;
  padding: 0.3rem;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 0.3rem;
}

/* EX3 ------------------------------------------- */
.exercise-3 .d {
  margin-bottom: 1rem;
}
.exercise-3 .d:last-child {
  margin-bottom: 0;
}

.exercise-3 .d1 {
  background-color: coral;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1rem;
  padding: 2rem;
  border: 0.5rem solid blue;
}

.exercise-3 .d2 {
  background-color: lightblue;
  border: 0.3rem solid purple;
}

.exercise-3 .d3 {
  background-color: lightyellow;
  border: 0.3rem solid brown;
}
