* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
}

header {
  display: flex;
  background-color: white;
  padding: 0.3rem 0;
}
header .logo {
  font-size: 2rem;
  margin-right: 3rem;
}
header .nav-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
}
header .nav-dropdown:hover {
  cursor: pointer;
}
header .inp {
  width: 30%;
  margin-right: 2rem;
}
header .btn {
  width: 10rem;
  margin-right: 1rem;
}
header .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
  width: 12%;
  margin-left: 3rem;
}
